@{
    ViewBag.Title = "Registro";
}

<html>
<head>
    <link rel="stylesheet" type="text/css" href="/Content/Css/LoginForm.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
</head>
<body id="LoginForm">
    <div class="container">
        <h1 class="form-heading">Registro</h1>
        <div class="login-form">
            <div class="main-div">
                <div class="panel">
                    <h2>Crear una cuenta</h2>
                    <p>Por favor, ingresa tus datos</p>
                </div>
                <form id="Register" method="post" action="/Account/Register">

                    <div class="form-group">
                        <input type="text" class="form-control" id="inputFirstName" name="FirstName" placeholder="Nombre">
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" id="inputLastName" name="LastName" placeholder="Apellido">
                    </div>

                    <div class="form-group">
                        <input type="email" class="form-control" id="inputEmail" name="Email" placeholder="Correo Electrónico">
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control" id="inputPassword" name="Password" placeholder="Contraseña">
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control" id="inputConfirmPassword" name="ConfirmPassword" placeholder="Confirmar Contraseña">
                    </div>

                    <button type="submit" class="btn btn-primary">Registrarse</button>

                </form>
            </div>
            <p class="botto-text"> Designed by Sunil Rajput</p>
        </div>
    </div>
</body>
</html>

